<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }} - {{ subtitle }}</title>
		<!-- CSS, keywords, metadat goes here -->
		<link rel="stylesheet" href="https://unpkg.com/picnic">
	</head>
	<body>

 	<div class="topnav" style="display: flex; justify-content: flex-end">
  	  <a class="active" href="/">Home, make uploads</a>
	    ||   
  	  <a href="/howwhy">How it works, how to use it, how not to use it. </a>
	</div> 

	<h1>{{ title }} - {{ subtitle }}</h1>

	{% block content %}
        <p><h3>cosine similarity: </h3>
	take the <a href="https://en.wikipedia.org/wiki/Cosine_similarity">cosine similarity</a> 
	(dot product divided by product of magnitudes) of your submitted photo with each embedding, 
	reporting the "most similar" modulo some threshold. 
	</p>
        <form action = "/cosinesimilarity" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "img" />
            <input type = "submit" value = "Show 'nearby' symbols with cosine distance" />
        </form>


		
	<p><h3>cluster similarity: </h3>
          cluster over embeddings then target the resulting labels with a classifier.
          </p>
        <form action = "/clustersimilarity" method = "POST" enctype = "multipart/form-data">
            <input type = "file" name = "img" />
            <input type = "submit" value = "Predict cluster membership with logistic regression" />
        </form>

	
	
	{% endblock %}
	</body>


</html>
